.expandableContentBox {
  max-width: 200px;
  max-height: 200px;
  position: fixed;
  bottom: 100px;
  right: 100px;
  overflow: hidden;
  border-radius: 10px;
  transition: max-height 1s ease-in-out, max-width 1s ease-in-out;
}

.expanded {
  max-width: 1000px;
  max-height: 1000px;
}
